<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cinema</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" type="text/css"  href="/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" th:href="@{/css/owl.carousel.min.css}" />
    <link rel="stylesheet" href="/css/owl.theme.default.min.css"  th:href="@{/css/owl.theme.default.min.css}"/>
  </head>
<body>

    <header class="filmoja-header-area">
        <nav class="navbar navbar-default" style="margin-bottom: 0px">
          <div class="container-fluid">
            <div class="navbar-header">
              <button
                type="button"
                class="navbar-toggle"
                data-toggle="collapse"
                data-target="#myNavbar"
              >
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" th:href="@{/home}">CINEMA</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
						<li><a th:href="@{/home}">Trang Chủ</a></li>
						<li class="active"><a th:href="@{/schedule}">Lịch Chiếu</a></li>
						<li><a href="#" data-toggle="dropdown">Phim</a>
							<ul class="dropdown-menu">
								<li><a href="currentMovie">Phim Đang Chiếu</a></li>
								<li><a href="upcomingMovie">Phim Sắp Chiếu</a></li>
							</ul></li>
						<li ><a th:href="@{/billUser}">Lịch sử mua
								vé</a></li>
					</ul>
              
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <a th:href="@{/register}"
                    ><span class="glyphicon glyphicon-user"></span> Sign Up</a
                  >
                </li>
                <li>
                  <a th:href="@{/login}"
                    ><span class="glyphicon glyphicon-log-in"></span> Login</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
     	
     <section class="filmoja-login-area section_70 container bg-main"  style="background: #e6e7e9; max-width: 100% !important; border-top: 1px solid;padding-bottom: 500px">
     	<div class="container" style="text-align: center;display: flex;justify-content: center;">
    <div class="row" style="width: 50%">
    
        <div>
            <h2>Đăng nhập</h2>
            
            <form th:action="@{/login}" method="post">
                <div class="form-group">
                    <label for="email" style="width: 100px">Email</label>
                    <input type="email" name="email" id="email" placeholder="Email" class="form-control form-control-lg">
                </div>

                <div class="form-group">
                    <label for="password" style="width: 100px">Mật khẩu</label>
                    <input type="password" class="form-control form-control-lg" placeholder="Mật khẩu" name="password" id="password">
                </div>
                <div th:if="${param.error}" class="alert alert-error text-danger">
                    Invalid username or password.
                </div>

                <input type="submit" value="Đăng nhập" class="btn btn-primary btn-block">
                <br>
                <span >Bạn chưa có tài khoản? <a class="linkControl" href="./register.html"
                                                th:href="@{/register}">Đăng ký ở đây</a></span>
            </form>
        </div>

    </div>
</div>
     </section>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>